.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    margin: 5px 0px 30px;
}

.queueName {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-right: 6px;
}

.queueContainer {
    display: flex;
    align-items: center;
}


.addContainer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;

}

.addButton {
    border: 1px solid rgb(55, 55, 55);
    border-radius: 6px;
    font-size: 20px;
    padding: 7px 5px;
    cursor: pointer;
    font-family: "Poppins";
    color: rgb(55, 55, 55);
}

.addButton:hover {
    border: 1px solid black;
    color: black;
}

.formContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    display: grid;
    place-items: center;
    border: 1px solid black;
}

.formMask {
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
}

.formBody {
    background-color: white;
    width: 360px;
    border-radius: 5px;
    height: 500px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formClose {
    display: none;
}